# Virtual envs
.venv/
venv/

# Environment files (keys, secrets)
.env

# Python cache/bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/

# Logs
*.log
